.loading-page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    color: #00ff00;
    font-family: monospace;
    font-size: 1.5rem;
    z-index: 100;
}

@keyframes Fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fadeout {
    animation: Fadeout 2s forwards;
}
